@page
@model MovieDetailModel
@{
    ViewData["Title"] = Model.Movie.Title;
}
<div class="container text-white mt-5 d-flex align-items-center">

@{
    string url = "https://image.tmdb.org/t/p/original" + Model.Movie.Poster_Path;
}
<img class="m-5" src="@url" alt="Poster" width="400" height="600" />
<div>
    <h1>@Model.Movie.Title</h1>
    <p>Release Date: @Model.Movie.Release_Date</p>
    <p>Popularity: @Model.Movie.Popularity</p>
    <p>Overview: @Model.Movie.Overview</p>
    <div class="d-flex align-items-center like ">
        <form method="post">
            <button type="submit" class="btn " asp-page-handler="Like" asp-route-movieId="@Model.Movie.Id">
                <img style="height:55px;" src="~/lib/img/Like.png" alt="Like Logo">
            </button>
        </form>
        <p style="margin-bottom:0px;font-size:20px;">@Model.LikeCount</p>
    </div>
        
        
</div>
</div>

<div class=" d-flex justify-content-center my-5 py-5 ">
    <div class="col-md-12 col-lg-10 ">
        <div class="comment-container card text-white bg-black border-dark rounded-5" style="--bs-bg-opacity: .4; box-shadow: 0rem 0rem 3rem 20px #060660c2 !important; ">
            <div class="card-body p-4">
                <h4 class="mb-0">Comments</h4>
                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <form method="post">
                            <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                            <div class="form-group">
                                <label for="commentText">Yorumunuz:</label>
                                <textarea class="form-control" name="commentText" id="commentText" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" asp-page-handler="Comment" asp-route-movieId="@Model.Movie.Id">Yorum Ekle</button>
                        </form>
                    </div>
                </div>

                @foreach (var comment in Model.ViewComments)
                {
                    <div class="card-body p-4">
                        <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3" src="@Model.UserProfileImage" alt="avatar" width="60" height="60" />
                            <div>
                                <h6 class="fw-bold mb-1">@comment.Name</h6>
                                <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0">
                                        @comment.CreatedAt.ToString("MMMM dd, yyyy")
                                    </p>
                                </div>
                                <p class="mb-0">
                                    @comment.Content
                                </p>
                                @if (User.Identity.IsAuthenticated && comment.UserId == Model.userId)
                                {
                                    <form method="post" asp-page-handler="DeleteComment" asp-route-movieId="@Model.Movie.Id" asp-route-commentId="@comment.Id">
                                        <button type="submit" class="btn btn-dark text-white">Delete</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                }


                @*                @foreach (var comment in Model.ViewComments)
        {
            <div class="card-body p-4">
                <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60" height="60" />
                    <div>
                        <h6 class="fw-bold mb-1">@comment.Name</h6>
                        <div class="d-flex align-items-center mb-3">
                            <p class="mb-0">
                                @comment.CreatedAt.ToString("MMMM dd, yyyy")
                            </p>
                        </div>
                        <p class="mb-0">
                            @comment.Content
                        </p>
                    </div>
                </div>
            </div>
        }*@

            </div>
               

              

                
            </div>
        </div>
    </div>
</div>
