@page
@model MarmaraMovieWorld.Pages.SearchResultModel
@{
    string title = Model.SearchResult != null ? Model.SearchResult.Title : "SearchResult Not Found";
    ViewData["Title"] = Model.SearchResult.Title;
}
<div class="container text-white mt-5 d-flex align-items-center">

    @{
        string url = "https://image.tmdb.org/t/p/original" + Model.SearchResult.Poster_Path;
    }
    <img class="m-5" src="@url" alt="Poster" width="400" height="600" />
    <div>
        <h1>@Model.SearchResult.Title</h1>
        <p>Release Date: @Model.SearchResult.Release_Date</p>
        <p>Popularity: @Model.SearchResult.Popularity</p>
        <p>Overview: @Model.SearchResult.Overview</p>
    </div>
</div>
<div class=" d-flex justify-content-center my-5 py-5 ">
    <div class="col-md-12 col-lg-10 ">
        <div class="comment-container card text-white bg-black border-dark" style="--bs-bg-opacity: .7; box-shadow: 0rem 0rem 3rem 20px #060660c2 !important; ">
            <div class="card-body p-4">
                <h4 class="mb-0">Comments</h4>

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60"
                             height="60" />
                        <div>
                            <h6 class="fw-bold mb-1">Lara Stewart</h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    March 15, 2021
                                </p>
                              
                            </div>
                            <p class="mb-0">
                                Great!
                            </p>
                        </div>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60"
                             height="60" />
                        <div>
                            <h6 class="fw-bold mb-1">Lara Stewart</h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    March 15, 2021
                                </p>
                            </div>
                            <p class="mb-0">
                                I like this movie
                            </p>
                        </div>
                    </div>
                </div>

                <hr class="my-0" style="height: 1px;" />

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60"
                             height="60" />
                        <div>
                            <h6 class="fw-bold mb-1">Alexa Bennett</h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    March 24, 2021
                                </p>
                            </div>
                            <p class="mb-0">
                                Lorem ipsum
                            </p>
                        </div>
                    </div>
                </div>

                <hr class="my-0" />

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(24).webp" alt="avatar" width="60"
                             height="60" />
                        <div>
                            <h6 class="fw-bold mb-1">Betty Walker</h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    March 30, 2021
                                </p>
                            </div>
                            <p class="mb-0">
                                Great work!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
