@page
@model MarmaraMovieWorld.Pages.SearchResultModel
@{
    string title = Model.SearchResult != null ? Model.SearchResult.Title : "Movie Not Found";
    ViewData["Title"] = title;
}

@if (Model.SearchResult != null)
{
    <h1>@Model.SearchResult.Title</h1>
    <p>@Model.SearchResult.Overview</p>
    <p>Release Date: @Model.SearchResult.Release_Date</p>
    @if (!string.IsNullOrEmpty(Model.SearchResult.Poster_Path))
    {
        string url = "https://image.tmdb.org/t/p/original" + Model.SearchResult.Poster_Path;
        <img src="@url" alt="@Model.SearchResult.Title" width="200" height="300" />
    }
    else
    {
        <p>No pictures were found :(</p>
    }

    <h4>Other Details:</h4>
    <ul>
        <li>Adult: @Model.SearchResult.Adult</li>
        <li>Poster Path: @Model.SearchResult.Poster_Path</li>
        <li>Backdrop Path: @Model.SearchResult.Backdrop_Path</li>
        <li>Genre IDs: @string.Join(", ", Model.SearchResult.GenreIds)</li>
        <li>ID: @Model.SearchResult.Id</li>
        <li>Original Language: @Model.SearchResult.Original_Language</li>
        <li>Original Title: @Model.SearchResult.Original_Title</li>
        <li>Popularity: @Model.SearchResult.Popularity</li>
    </ul>

}
else
{
    <p>No movies were found, sorry :(</p>
}